<!DOCTYPE html>
<html>
<head>
	<title>College Station Turn 2017</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href=".\css\Welcome.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<header>
<div class="row" id="leftLogo">
	<div class="col-md-4">
		<img class="csLogoLeft" src="./images/CSLogo.jpg" alt="csLogo1">
	</div>
	<div class="col-md-4">
		<h1 class="welcome">College Station</h1>
		
		<h1 class="welcome"> Turn Week 2017</h1>
	</div>
	<div class="col-md-4" id="rightLogo">
		<img class="csLogoRight" src="./images/CSLogo.jpg" alt="csLogo1">
	</div>
</div>
<div class="page-header">
<div class="row">
	<div class="col-md-8 col-md-push-4">
			<div class="navBar">
			<ul  class="list-inline">
				<li><a class="list-inline-item" href="./home"><u><font color="red">Home</font></u></a></li>
				<li><a class="list-inline-item" href="./welcome"><u><font color="red">Sign In</font></u></a></li>
				<li><a class="list-inline-item" href="./apartments"><u><font color="red">Apartments</font></u></a></li>
				<li><a class="list-inline-item" href="./contactus"><u><font color="red">Contact Us</font></u></a></li>
				<li><a class="list-inline-item" href="./home"><u><font color="red">???</font></u></a></li>
			</ul>
			</div>
	</div>
</div>
</div>
</header>

{{{body}}}

<hr>

<footer>
<div class="row">
	<div class="col-md-1">
		<img class="footimg" src="./images/CSLogo.jpg" alt="logo" height="50" width="50">
	</div>
	<div class="navBar">
	<div class="col-md-6">
		<a class="list-inline-item" href="./main"><font color="red">Home</font></a>
		<a class="list-inline-item" href="./signup"><font color="red">Signup</font></a>
		<a class="list-inline-item" href="./cart"><font color="red">Checkout</font></a>
		<a class="list-inline-item" href="./about"><font color="red">About</font></a>
		<button type="button" onclick="logOut()">Log Out</button>
	</div>
	</div>
</div>
<div class="row">
<div class="col-md-2" id="footer1">
	<p>Office Address:</p>
	<p>Office Number:</p>
	<p>Office Email:</p>
	<p>Property Managers Email:</p>
</div>
<div class="col-md-3" id="footer2">
	<p>501 N. Wilkinson St. Milledgeville, GA 31061</p>
	<p>(478) 453-2525</p>
	<p>office@collegestationga.com</p>
	<p>kaylee@collegestationga.com</p>
</div>
</div>
</footer>
</body>
</html>