<div class="{{{errcolor}}}">
{{{errmessage}}}
</div>
<h2>Password to continue:</h2>

<form action="signupServer" method="post">
	<div id="continuePwd">
		<p>Password:</p>
		<input type="text" name="cpwd" value="" id="cpwd">
		<br>
		<br>
		<input type="submit" value="continue" onclick="submit">
	</div>
</form>