<div class="{{{errcolor}}}">
{{{errmessage}}}
</div>

<form action="contactServer" method="post">
<div class="contactcontent">
	<p id="txtinput">Name:</p>
	<input type="text" name="name" id="returnName"><br>
	<p id="txtinput">Email or Phone Number:</p>
	<input type="text" name="emailPhone" id="returnContact"><br>
	<p id="txtinput">Message:</p>
	<textarea rows="15" cols="150" name="message" id="returnMsg"></textarea>
	<br>
	<input type="submit" value="Submit" onclick="submit">
</div>
</form>