<div class="{{{errcolor}}}">
{{{errmessage}}}
</div>
<h2>Cleaners Sign In:</h2>

<form action="checkloginC" method="post">
	<div id="signin">
		<p>Email:</p>
		<input type="text" name="email" value="" id="email">
		<br>
		<p>Password:</p>
		<input type="password" name="pwd" value="" id="pwd">
		<br>
		<br>
		<input type="submit" value="Submit" onclick="submit">
	</div>
</form>

<script type="text/javascript" src="./js/validate.js"></script>
<script type="text/javascript">
	validateEmail();
	validatePwd();
</script>