<div class="{{{errcolor}}}">
{{{errmessage}}}
</div>
<div>
	<div class="logins">
	<div class="row">

		<div class="col-md-2 col-md-push-2">
			<div class="text-center">
				<div class="columnLeft">
				<h3>Office</h3>
				<a href="./signin"> <button type="button" class="btn btn-success ">Login</button></a>
				<br>
				<a href="./signup"><button type="button" class="btn btn-warning ">Register</button></a>
				</div>
			</div>
		</div>

		
		<span class="border-right-0"></span>


		<div class="col-md-2 col-md-push-2" id="borderforcenter">
			<div class="text-center">
				<div class="columnCenter">
				<h3>Maintenance</h3>
				<a href="./signinM"><button type="button" class="btn btn-success ">Login</button></a>
				<br>
				<a href="./signupM"><button type="button" class="btn btn-warning ">Register</button></a>
				</div>
			</div>
		</div>

		<span class="border-left-1"></span>

		<div class="col-md-2 col-md-push-2">
			<div class="text-center">
				<div class="columnRight">
				<h3>Painter</h3>
				<a href="./signinP"><button type="button" class="btn btn-success ">Login</button></a>
				<br>
				<a href="./registerP"><button type="button" class="btn btn-warning ">Register</button></a>
				</div>
			</div>
		</div>

		<span class="border-left-1"></span>

		<div class="col-md-2 col-md-push-2" id="borderforleft">
			<div class="text-center">
				<div class="columnRight">
				<h3>Cleaner</h3>
				<a href="./signinC"><button type="button" class="btn btn-success ">Login</button></a>
				<br>
				<a href="./registerC"><button type="button" class="btn btn-warning ">Register</button></a>
				</div>
			</div>
		</div>


	</div>
</div>