body {
	background-image: url("./../images/Turn Week 2017.png");
	background-color: #b3b3cc;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.9;
	background-size: 500px 500px;

}

.welcome{
	color: black;
	text-align: center;
	/*font-size: 5em;*/
	/*font: arial;*/
}
.page-header li{
	font-size: 1.5em;
	
}
.footimg{
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;
}
/*.columnRight {
	border-left: 25px;
}
.columnCenter {
	border-left: 1px;
	
}*/
#borderforcenter{
	border:solid;
	border-top:3px;
	border-bottom:3px;
}
.logins{
	margin-top: 100px;
	margin-bottom: 100px;
	color: black;
}
h3 {
	text-decoration: underline;
}

.csLogoRight{
	margin-top: 20px;
	height: 100px;
	width: 100px;
	float: left;
}

.csLogoLeft{
	margin-top: 20px;
	height: 100px;
	width: 100px;
	float: right;
}
#greeting{
	font-size: 2em;
}
#greetbtn{
	margin-left: 150px;
}
.greetcontent{
	margin-left: 125px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.contactcontent{
	margin-left: 50px;
}

li {
	color: red;
}