body {
	background-image: url("./../images/Turn Week 2017.png");
	background-color: #b3b3cc;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.9;
	background-size: 500px 500px;

}

.welcome{
	color: black;
	text-align: center;
	/*font-size: 5em;*/
	/*font: arial;*/
}
.page-header li{
	font-size: 1.5em;
	
}
.footimg{
	margin-left: 10px;
	margin-bottom: 10px;
	float: right;
}
#borderforcenter{
	border:solid;
	border-top:3px;
	border-bottom:3px;
}
.logins{
	margin-top: 100px;
	margin-bottom: 100px;
	color: black;
}
h3 {
	text-decoration: underline;
}
.csLogoRight{
	margin-top: 20px;
	height: 100px;
	width: 100px;
	float: left;
}
.csLogoLeft{
	margin-top: 20px;
	height: 100px;
	width: 100px;
	float: right;
}
#greeting{
	font-size: 2em;
}
#greetbtn{
	margin-left: 150px;
}
.greetcontent{
	margin-left: 125px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.contactcontent{
	margin-left: 50px;
}
.aptDes{
	font-size: 150%;
	font-weight: bold;

}
.needs{
	color: red;
	font-weight: bold;
	font-size: 150%;
}
.notes{
	font-size: 115%;
}
.noteWord{
	font-size: 110%;
	font-weight: bold;
}
.aptsContainer{
	margin-left: 25px;
}
.mapDiv{
	margin-left: 400px;
}